@CHARSET "UTF-8";

body,html {
	background-color: #ADD8E6;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #000000;
}

.header {
	text-align: center;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text {
	font: 16px sans-serif;
	text-align: center;
}

.link {
	fill: none;
	stroke: #aaa;
	stroke-width: 1px;
}

.score {
	font-size: x-large;
	color: maroon;
}